


  <div class="bar bar-assertive pull-left">
    <h1 class="title">NU Events</h1>
  </div>

  <div class="list list-inset" style="padding-top: 30px">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search">
    </label>
  </div>
  <div class="list">

    <a class="item item-thumbnail-left" href="#/eventDetails">
      <img src="/android_asset/www/img/NUlogo.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" href="#/eventDetails">
      <img src="/android_asset/www/img/ionic.png">
      <h2>EQUILIZER</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" href="#/eventDetails">
      <img src="/android_asset/www/img/ionic.png">
      <h2>ROAD</h2>
      <p>Nine Inch Nails</p>
    </a>


  </div>

  <div class="bar bar-footer bar-assertive">
    <a href="#/preferences" class="button button-assertive pull-left">Preferences</a>
    <a href="#/login" class="button button-assertive pull-right">sign out</a>
  </div>






