<!--<!DOCTYPE html>-->
<!--<html>-->
  <!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">-->
    <!--<title></title>-->

    <!--<link rel="manifest" href="manifest.json">-->

    <!--&lt;!&ndash; un-comment this code to enable service worker-->
    <!--<script>-->
      <!--if ('serviceWorker' in navigator) {-->
        <!--navigator.serviceWorker.register('service-worker.js')-->
          <!--.then(() => console.log('service worker installed'))-->
          <!--.catch(err => console.log('Error', err));-->
      <!--}-->
    <!--</script>&ndash;&gt;-->

    <!--<link href="lib/ionic/css/ionic.css" rel="stylesheet">-->
    <!--<link href="css/style.css" rel="stylesheet">-->

    <!--&lt;!&ndash; IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above-->
    <!--<link href="css/ionic.app.css" rel="stylesheet">-->
    <!--&ndash;&gt;-->

    <!--&lt;!&ndash; ionic/angularjs js &ndash;&gt;-->
    <!--<script src="lib/ionic/js/ionic.bundle.js"></script>-->

    <!--&lt;!&ndash; cordova script (this will be a 404 during development) &ndash;&gt;-->
    <!--<script src="cordova.js"></script>-->

    <!--&lt;!&ndash; your app's js &ndash;&gt;-->
    <!--<script src="js/app.js"></script>-->
  <!--</head>-->
  <body ng-app="starter">

  <!--HEADER-->
  <div class="bar bar-assertive pull-left">
    <h1 class="title">Enrollment</h1>
  </div>

    <!--Sub Header-->
  <div class="bar bar-subheader">
    <h2 class="title red">Login</h2>
  </div>

  <!--login div-->
  <form novalidate>
    <div class="list list-inset top-space-pad">

      <div ng-show="login.msg" class="alert alert-warning" role="alert" style="padding:2px;text-align: center">
        <h4>Username/Password Incorrect</h4>
      </div>

      <label class="item item-input">
        <input  type="text" placeholder="Husky Email" ng-model="emailId">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="password">
      </label>
      <a ng-click="login.signin(emailId,password)" class="button button-block button-assertive">
      Sign In
      </a>
    </div>
  </form>

  <div class="container">
    <a ng-click="login.beacon()"  >Find the beacon list here</a>
  </div>

  <!--footer-->
  <div class="bar bar-footer bar-assertive">
    <div class="title"></div>
  </div>

  </body>
<!--</html>-->
