<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

  <!--HEADER-->
  <div class="bar bar-assertive pull-left">
    <h1 class="title">Enrollment</h1>
  </div>

    <!--Sub Header-->
  <div class="bar bar-subheader">
    <h2 class="title red">Login</h2>
  </div>

  <!--login div-->
  <form novalidate>
    <div class="list list-inset top-space-100">

      <div ng-show="login.msg" class="alert alert-success" role="alert">
        <h1>Username or Password Incorrect</h1>
      </div>

      <label class="item item-input">
        <input  type="text" placeholder="Husky Email" ng-model="emailId">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="password">
      </label>
      <a ng-click="login.signin(emailId,password)" class="button button-block button-assertive">
      Sign In
      </a>
      <!--<input type="submit" ng-click="login.signin()">-->
      <!--<button ng-click="login.googleLogin()" class="button button-block button-assertive" type="submit">-->
        <!--Login-->
      <!--</button>-->
    </div>
  </form>

  <!--footer-->
  <div class="bar bar-footer bar-assertive">
    <div class="title"></div>
  </div>

  </body>
</html>
