<ion-view title="settings">
  <ion-content>
    <div class="avoid_header">
      <div class="item item-divider">
        Settings
      </div>
      <!--<div ng-if="settings.bluetoothIsEnabled=true">-->
        <!--<h1>bluetooth on</h1>-->
      <!--</div>-->

      <ion-toggle ng-model="notification.checked">
        Daily Notifications
      </ion-toggle>
      <ion-toggle ng-model="bluetooth.checked" ng-click="settings.notify(bluetooth.checked)">
        Bluetooth
      </ion-toggle>
      <ion-toggle ng-model="location.checked">
        Location Service
      </ion-toggle>

      <!--<div class="item">-->
      <!--<pre ng-bind="pushNotification | json"></pre>-->
      <!--</div>-->

      <!--<ion-toggle toggle-class="toggle-assertive"-->
      <!--ng-model="emailNotification"-->
      <!--ng-true-value="'Subscribed'"-->
      <!--ng-false-value="'Unubscribed'">-->
      <!--Newsletter-->
      <!--</ion-toggle>-->

      <!--<div class="item">-->
      <!--<pre ng-bind="emailNotification | json"></pre>-->
      <!--</div>-->



    </div>
  </ion-content>
</ion-view>
